.main-header {
    margin-bottom: 41px;
}

.main-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 100px;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 25px;
    &__link {
        position: relative;
        justify-self: start;
        top: 2px;
    }
    &__search {
        width: 500px;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 10px 43px;

        border: 1px solid #0C0C0D;
        background-image: url(../img/search.png);
        background-repeat: no-repeat;
        background-position: 18px center;
        &::placeholder {
            color: rgba(12, 12, 13, 0.3);
        }
    }
    &__user-nav {
        justify-self: end;
    }
    input[type=text]::-ms-clear {  
        display: none; width : 0; height: 0; 
    }
    input[type=text]::-ms-reveal {  
        display: none; width : 0; height: 0; 
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration { 
        display: none; 
    }
    input:active, select:active,input:focus,select:focus {
        outline: none;
    }
}

.user-nav {
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-right: 15px;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__img {
        vertical-align: middle;
    }
}

.tags {
    &__title {
        margin-bottom: 29px;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
    }
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
        margin-right: 10px;
        margin-bottom: 30px;
    }
    &__item:last-child {
        margin-right: 0;
    }
    &__link {
        padding-top: 9px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 11px;
        
        background-color: #F2F2F2;
        border-radius: 30px;
    }
}

.page-main {
    display: grid;
    grid-template-columns: repeat(5, minmax(264px,1fr));
    gap: 20px;
    grid-auto-flow: dense;
    &__button {
        grid-column: 1/ -1;
        display: inline-block;
        margin-top: 88px;
        margin-bottom: 58px;
        padding: 17px 80px;
        padding-bottom: 15px;
        justify-self: center;

        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #0C0C0D;

        background-color: #FFFFFF;
        text-decoration: none;
        border: 1px solid #0C0C0D;
        border-radius: 30px;
    }
}

.foto {
    position: relative;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    .likes {
        position: absolute;
        content: "";
        top: 14px;
        left: 10px;
    }
    &__img {
        vertical-align: middle;
    }
    &--large {
        grid-column: span 2;
        grid-row: span 2;
    }
    &--vertical {
        grid-column: span 1;
        grid-row: span 2;
    }
    &--horizontal {
        grid-column: span 2;
        grid-row: span 1;
    }
}

.likes__heart {
    display: inline-block;
    margin-right: 6px;
    cursor: pointer;
}

.main-footer {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 130px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;

    border-top: 1px solid rgba(12, 12, 13, 0.2);
    &__policy {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}