* {
	padding: 0;
	margin: 0;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
	user-select: none;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	min-width: 1400px;
	
	font-family: "Source Sans Pro", "Arial", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #0C0C0D;

	background-color: #FFFFFF;
}

img {
	max-width: 100%;
	height: auto;
}

fieldset {
	padding: 0;
	border: 0;
}

a, button {
	cursor: pointer;
	text-decoration: none;
	color: #0C0C0D;
	&:focus {
		opacity: 1;
	}
	&:hover {
		opacity: 0.6;
		transition: 0.7s;
	}
	&:active {
		opacity: 0.2;
	}
}

ul,
ol,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

input,
textarea {
    outline: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
  	white-space: nowrap;
  	clip-path: inset(100%);
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.container {
	width: 1400px;
	margin: 0 auto;
	padding: 0;
}

.title {
	@include title;
}
